<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico"> -->
    <link rel="icon" href="public/images/if-weather-3-2682848_90785.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@500&display=swap" rel="stylesheet">

    <title>Weather Checker</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="css/styles.css" rel="stylesheet">

</head>

<body class="text-center">
    <form class="form-signin" method="post">
        <img class="mb-4 logo"
            src="https://w7.pngwing.com/pngs/241/817/png-transparent-weather-forecasting-wet-season-weather-text-hand-logo.png"
            alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal welcome">Please Enter a City Name For Weather Update</h1>

        <input type="text" class="form-control" name="CityName" placeholder="City Name" required autofocus>


        <button class="btn btn-lg btn-dark btn-block" type="submit">Go</button>
        <p class="mt-5 mb-3 text-muted p-warning">&copy;Cyrus Sakib</p>
    </form>
</body>

</html>