* {

    margin: 0;
    padding: 0;

}

body {


    /* background-image: url('https://images.pexels.com/photos/391522/pexels-photo-391522.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2'); */
    background-image: url('https://images.pexels.com/photos/1183099/pexels-photo-1183099.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

html {

    height: 100%
}



h1 {


    text-align: center;
}

.card {


    margin: 40px auto 0px auto;

}

#card {

    background-color: rgba(245, 245, 245, 0.4);
    /* background-color: rgba(251, 251, 251, 0.6); */
    /* background-color: rgb(28, 47, 79); */
    border-radius: 10px;
    margin-top: 140px;
}

.card-img-top {

    height: 200px;
    width: 25%;


}

.card-body {

    color: #FFF89C;

}

.card-title {

    display: inline;
}



.footer {
    text-align: center;

    color: #f0f1f1;
}



.card-style {

    background-color: #0F3D3E;
}

.w-img {

    height: 70px;
    margin-bottom: 10px;
}